h1 {
    color: orange;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
}


 p {
  color: green;
}

header p span {
  color: blue;
}

.hightlight {
    background-color: yellow;
}

footer .hightlight {
  background-color: lightgrey;
  color: orange;
}
